body {
	font-family: 'Trebuchet MS', sans-serif;
	background: hsl(155, 84%, 85%);
	color: #001f3f;
}

h1, h2, h3, h4 {
	font-family: 'Trebuchet MS', sans-serif;
}

.hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba (1,1,1,1), rgba (0,0,0,0.75), rgba (0,0,0,0))
}

.container {
	max-width: 840px;
	margin: 0 auto;
}

.container > div {
	margin: 20px auto;
}

.intro {
    text-align: center;
}

.profile-picture {
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 6px 0 rgba(34,60,80,.75);
    transition: all ease-in-out .2s;
}

.profile-picture:hover {
    box-shadow: 0 8px 12px 0 #14462bbf;
}

.about-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.i-am, .i-like {
    text-align: center;
    text-decoration: none
}

.about-list {
    list-style: none;
    padding: 0;
}

.projects-heading {
    text-align: center; 
}

.projects-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.project-image {
    justify-self: center;
    padding: 4%;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(34,60,80,.16);
    transition: all ease-in-out .2s;
}

.project-image:hover {
    filter: brightness(.75);
    box-shadow: 0 8px 12px 0 rgba(34,60,80,.16);
}

.project-image-wrapper {
    justify-self: center;
    padding: 4%;
    position: relative;
}

.project-image-wrapper:hover > h4{
    visibility: visible;
}

.project-image-wrapper > h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    visibility: hidden;
    z-index: 2;
    transition: all ease-in-out;
}

.links-and-contact {
    display: grid;
    grid-template-columns: 30% 70%;
}

.links {
    justify-self: center;
}

.links-list {
    list-style: lower-alpha;
    padding: 0;
}

form input, textarea {
	padding: 5px;
	border-radius: 5px;
	width: 240px;
}

form {
	width: 250px;
	margin: 0 auto;
}

form input[type="submit"] {
	width: 250px;
}

.submit-button-wrapper {
	margin: 20px 0;
    background-color: #ffffff;
    color: black;
}

.map{
    text-align: center;
}
